@import '../../../dist/css/main.scss';



.button{
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color:white;

    &-black{
        background-color: $black;
    }

    &-light-black{
        background-color: $light-black;
    }

    &-yellow{
        background-color: $yellow;
    }

    &-grey{
        background-color: $grey;
        color: $black;
    }
    
    &-primary{
        background-color: $primary;
    }
}

.soft{
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    opacity:0.4

    &-black{
        background-color: $black;
        color: $black;
    }

    &-light-black{
        background-color: $light-black;
        color: $light-black;
    }

    &-yellow{
        background-color: $yellow;
        color: $yellow;
        
    }

    &-grey{
        background-color: $grey;
        color: $grey;
    }
    
    &-primary{
        background-color: $primary;
        color: $primary;
    }
}

.outline{
    -webkit-appearance: none;
    outline: 0;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background-color: none;

    &-black{
        color: $black;
        border: 1px solid $black;
        &:hover{
            background-color: $black;
        }
    }

    &-light-black{
        color: $light-black;
        border: 1px solid $light-black;
        &:hover{
            background-color: $light-black;
        }
    }

    &-yellow{
        color: $yellow;
        border: 1px solid $yellow;
        &:hover{
            background-color: $yellow;
        }
        
    }

    &-grey{
        color: $grey;
        border: 1px solid $grey;
        &:hover{
            background-color: $grey;
        }
    }
    
    &-primary{
        color: $primary;
        border: 1px solid $primary;
        &:hover{
            background-color: $primary;
        }
    }
}



/* Size */
.small {
    padding: 0.5em 0.6em;
}

.medium {
    padding: 1.1em 1.3em;
}
  
.large {
    padding: 1.7em 2.4em;
}

  /* Theme */
.default {
    border-radius:0px;
}
  
.rounded {
    border-radius:5px;
}

.pill{
    border-radius:20px;
}
  
  /* Disabled */
  .disabled {
    color: var(--grey-2);
    background: color(var(--grey-4) tint(40%));
    border-color: var(--grey-4);
    cursor: default;
  }