@import '../../dist/css/custom';

.hero-meetup{
    background-color: $grey;
    line-height: 2.5;
    .meetup-image{
        background-color: $black;
        width: 200px;
        height: 200px;
    }

    .meeting-description{
        .btn-join{
            color: white;
            background-color: $green !important;
            border-radius: 0px;
        }
    }
}